@using TravelBlog.Models.Viewmodels
@model ContactViewModel

<div id="container">
    <main class="content-main-box">
        <article>
            <div>
                <header>
                    <h1 class="article-header">Formularz kontaktowy</h1>
                </header>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce libero ligula, porta quis quam at, convallis egestas lacus. Duis convallis efficitur volutpat. Nam pulvinar ullamcorper bibendum. Aenean sit amet justo in tellus porta pellentesque. Praesent tincidunt ornare nisi ac convallis. Etiam dictum molestie elementum. Etiam ullamcorper lectus et erat molestie, gravida consequat neque fringilla.
                </p>
                @using (Html.BeginForm("SendEmail", "Contact", FormMethod.Post, new { id = "contact-form" }))
                {
                    <h4>Temat</h4>
                    @Html.TextBoxFor(m => m.Contact.Topic, new { id = "title", placeholder = "Temat" })
                    @Html.ValidationMessageFor(m => m.Contact.Topic, "", new { @class = "alert-text" })
                    <h4>Wiadomość</h4>
                    @Html.TextAreaFor(m => m.Contact.Message, new { id = "message", placeholder = "Treść" })
                    @Html.ValidationMessageFor(m => m.Contact.Message, "", new { @class = "alert-text" })
                    <h4>Twój email</h4>
                    @Html.TextBoxFor(m => m.Contact.EmailAddress, new { id = "email", type = "text", placeholder = "E-mail" })
                    @Html.ValidationMessageFor(m => m.Contact.EmailAddress, "", new { @class = "alert-text" })
                    <button id="send-button" type="submit">Wyślij</button>
                }
            </div>

        </article>
    </main>

    <aside>
        <div class="aside-content">
            <div id="aside-sticky">
                <div>
                    <h2>O blogu</h2>
                    <p style="text-align: justify;">Suspendisse placerat felis nec auctor gravida. Sed at leo congue, scelerisque felis et, vestibulum mi. Suspendisse potenti. Integer rutrum a augue sit amet imperdiet. Vivamus a semper odio. Nullam augue felis, laoreet eu ligula vitae, rutrum interdum metus.</p>
                </div>
                <br />
                <div>
                    <h2>Może Cię zainteresować</h2>
                    <div id="random-entry">
                        <a href="/Entries/Entry/@Model.RandomEntry.Id">
                            <img src="@Model.RandomEntry.ImageUrl" alt="image" />
                            <div id="random-entry-cover"></div>
                            <div id="random-entry-caption">
                                <span>@Model.RandomEntry.Title</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </aside>

</div>

@Styles.Render("~/Content/Custom/contact")
