@using TravelBlog.Models.Viewmodels
@model EntriesViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="scrollup" class="icon-angle-circled-up"></div>
<section>
    <div id="top-section">
        <div id="entries-container">
            <div class="primary-entry">
                <a href="/Entries/Entry/@Model.RandomEntry.Id">
                    <div class="img-container">
                        <img class="resizable-pic" src="@Model.RandomEntry.ImageUrl" alt="image" />
                        <div class="entry-caption">
                            <span>@Model.RandomEntry.Title</span>
                        </div>
                    </div>
                    <div id="primary-entry-cover"></div>
                </a>
            </div>
            <div id="secondary-entries-container">
                <div class="secondary-entry">
                    <a href="/Entries/Entry/@Model.RandomEntry.Id">
                        <div class="img-container secondary-entry-img">
                            <img class="resizable-pic secondary-pic" src="@Model.RandomEntry.ImageUrl" alt="image" />
                            <div class="entry-caption">
                                <span>@Model.RandomEntry.Title</span>
                            </div>
                        </div>
                        <div class="entry-cover"></div>
                    </a>
                </div>
                <div class="secondary-entry">
                    <a href="/Entries/Entry/@Model.RandomEntry.Id">
                        <div class="img-container secondary-entry-img">
                            <img class="resizable-pic secondary-pic" src="@Model.RandomEntry.ImageUrl" alt="image" />
                            <div class="entry-caption">
                                <span>@Model.RandomEntry.Title</span>
                            </div>
                        </div>
                        <div id="primary-entry-cover"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="container">
    <main class="content-main-box">
        @foreach (var entry in Model.Entries)
        {
            <article>
                <div class="entry">
                    <header>
                        <h1><a class="entry-title entry-title-font" href="/Entries/Entry/@entry.Id">@entry.Title</a></h1>
                    </header>
                    <p class="entry-data">@entry.CreateDate.ToShortDateString() | @entry.CreateDate.ToShortTimeString() | @entry.Author</p>
                    <div class="entry-main-img">
                        <img src="@entry.ImageUrl" alt="entry-main-img"/>
                    </div>
                    @foreach (var paragraph in entry.Content.Take(2))
                    {
                        <p>@paragraph</p>
                    }
                    <a class="go-to-entry" href="/Entries/Entry/@entry.Id">Czytaj</a>

                </div>
            </article>
        }
    </main>

    <aside>
        <div class="aside-content">
            <div id="aside-sticky">
                <div>
                    <h2>O blogu</h2>
                    <p style="text-align: justify;">Suspendisse placerat felis nec auctor gravida. Sed at leo congue, scelerisque felis et, vestibulum mi. Suspendisse potenti. Integer rutrum a augue sit amet imperdiet. Vivamus a semper odio. Nullam augue felis, laoreet eu ligula vitae, rutrum interdum metus.</p>
                </div>
                <br/>
                <div>
                    <h2>Może Cię zainteresować</h2>
                    <div id="random-entry">
                        <a href="/Entries/Entry/@Model.RandomEntry.Id">
                            <img src="@Model.RandomEntry.ImageUrl" alt="image"/>
                            <div id="random-entry-cover"></div>
                            <div id="random-entry-caption">
                                <span>@Model.RandomEntry.Title</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </aside>
</div>

@Styles.Render("~/Content/Custom/index")
@Styles.Render("~/Content/Custom/entries")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqueryscrollto")
@Scripts.Render("~/bundles/entries")
@Scripts.Render("~/bundles/index")