@using TravelBlog.Models.Viewmodels
@model GalleryViewModel

<div id="title-bar">@Model.Gallery.Title</div>
<div id="title-bar-sticky">@Model.Gallery.Title</div>

<main>
    <div id="foto-preview">
        <div id="wrapper">
            <div id="foto-prev"><p>prev</p></div>
            <div id="foto-container">
                <img id="foto" src="" alt="gallery-foto" />
            </div>
            <div id="foto-next"><p>next</p></div>
            <div id="close-preview">exit</div>
        </div>
    </div>
    <div id="gallery-container">
        @for (int i = 0; i < Model.Gallery.Pictures.Count(); i++)
        {
            <div class="gallery-item">
                <div class="img-container">
                    <img src="@Model.Gallery.Pictures.ElementAt(i).Url" alt="gallery-main-img" img-id="@(i + 1)" />
                </div>
            </div>
        }
    </div>
</main>

@Styles.Render("~/Content/Custom/gallery")

@section Scripts
{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryscrollto")
    @Scripts.Render("~/bundles/gallery")
}