@using TravelBlog.Models.Viewmodels
@model EntriesViewModel

<div id="scrollup" class="icon-angle-circled-up"></div>
<div id="title-bar">@Model.Entries.First().CategoryName</div>
<div id="title-bar-sticky">@Model.Entries.First().CategoryName</div>
<div id="container">
    <aside>
        <div class="aside-content">
            <div class="aside-ad-box">
                <img src="/Images/ad_placeholder.jpg" alt="forto">
            </div>
        </div>
    </aside>
    <main id="entries">
        @foreach (var entry in Model.Entries)
        {
            <article>
                <div class="entry">
                    <header>
                        <h1><a class="entry-title entry-title-font" href="/Entries/Entry/@entry.Id">@entry.Title</a></h1>
                    </header>
                    <p class="entry-data">@entry.CreateDate.ToShortDateString() | @entry.CreateDate.ToShortTimeString() | @entry.Author</p>
                    <div class="entry-main-img">
                        <img src="@entry.ImageUrl" alt="entry-main-img" />
                    </div>
                    @foreach (var paragraph in entry.Content.Take(3))
                    {
                        <p>@paragraph</p>
                    }
                    <a class="go-to-entry" href="/Entries/Entry/@entry.Id">Czytaj</a>

                </div>
            </article>
        }
        <div class="pagination">
            @if (Model.ActivePage > 1)
            {
                <a href="Filter?categoryName=@Model.Entries.First().GetCategoryForUrl()&page=@(Model.ActivePage - 1)">&laquo;</a>
            }
            else
            {
                <a href="#">&laquo;</a>
            }
            @foreach (var page in Model.Pages)
            {
                if (@page.Active)
                {
                    <a href="#" class="active-page">@page.Index</a>
                }
                else
                {
                    <a href="Filter?categoryName=@Model.Entries.First().GetCategoryForUrl()&page=@page.Index">@page.Index</a>
                }
            }
            @if (Model.ActivePage < Model.AllPagesCount)
            {
                <a href="Filter?categoryName=@Model.Entries.First().GetCategoryForUrl()&page=@(Model.ActivePage + 1)">&raquo;</a>
            }
            else
            {
                <a href="#">&raquo;</a>
            }
        </div>
    </main>

    <aside>
        <div class="aside-content">
            <nav>
                <h2>Kontynenty</h2>
                <div class="aside-continent">@Html.ActionLink("Europa", "Filter", "Entries", new { categoryName = "europa" }, null)</div>
                <div class="aside-continent">@Html.ActionLink("Ameryka Płn", "Filter", "Entries", new { categoryName = "ameryka-polnocna" }, null)</div>
                <div class="aside-continent">@Html.ActionLink("Ameryka Płd", "Filter", "Entries", new { categoryName = "ameryka-poludniowa" }, null)</div>
                <div class="aside-continent">@Html.ActionLink("Azja i Oceania", "Filter", "Entries", new { categoryName = "azja-i-oceania" }, null)</div>
            </nav>
            <div class="aside-ad-box">
                <img src="/Images/ad_placeholder.jpg">
            </div>
        </div>

    </aside>

</div>


@Styles.Render("~/Content/Custom/entries")

@section Scripts
{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryscrollto")
    @Scripts.Render("~/bundles/spec-entries")
}