@using TravelBlog.Models.Viewmodels
@model EntriesViewModel

<div id="scrollup" class="icon-angle-circled-up"></div>
<div id="title-bar">@Model.Entries.First().CategoryName</div>
<div id="title-bar-sticky">@Model.Entries.First().CategoryName</div>
<div id="container">
    <aside>
        <div class="aside-content">
            <div class="aside-ad-box">
                <img src="/Images/ad_placeholder.jpg" alt="forto">
            </div>
        </div>
    </aside>
    <main id="entries">
        @foreach (var entry in Model.Entries)
        {
            <article>
                <div class="entry">
                    <header>
                        <h1><a class="entry-title" href="entry.htm">@entry.Title</a></h1>
                    </header>
                    <p class="entry-data">@entry.CreateDate.ToShortDateString() | @entry.CreateDate.ToShortTimeString() | @entry.Author</p>
                    <div class="entry-main-img">
                        <img src="@entry.ImageUrl" alt="entry-main-img" />
                    </div>
                    @foreach (var paragraph in entry.Content)
                    {
                        <p>@paragraph</p>
                    }
                    <a class="go-to-entry" href="entry.htm">Czytaj</a>

                </div>
            </article>
        }
        <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="#" class="active-page">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">&raquo;</a>
        </div>
    </main>

    <aside>
        <div class="aside-content">
            <nav>
                <h2>Kontynenty</h2>
                <div class="aside-continent"><a href="spec-entries.htm">Europa</a></div>
                <div class="aside-continent"><a href="spec-entries.htm">Ameryka Płd.</a></div>
                <div class="aside-continent"><a href="spec-entries.htm">Ameryka Płn.</a></div>
                <div class="aside-continent"><a href="spec-entries.htm">Azja i Oceania</a></div>
            </nav>
            <div class="aside-ad-box">
                <img src="/Images/ad_placeholder.jpg">
            </div>
        </div>

    </aside>

</div>


@Styles.Render("~/Content/Custom/entries")

@section Scripts
{
    @Scripts.Render("~/bundles/custom")
}