@using TravelBlog.Models.Viewmodels
@model EntriesViewModel

<div id="scrollup" class="icon-angle-circled-up"></div>
<div id="title-bar">@Model.Entries.First().SubcategoryName</div>
<div id="title-bar-sticky">@Model.Entries.First().SubcategoryName</div>
<div id="container">
    <main class="content-main-box">
        @foreach (var entry in Model.Entries)
        {
            <article>
                <div class="entry">
                    <header>
                        <h1><a class="entry-title entry-title-font" href="/Entries/Entry/@entry.Id">@entry.Title</a></h1>
                    </header>
                    <p class="entry-data">@entry.CreateDate.ToShortDateString() | @entry.CreateDate.ToShortTimeString() | @entry.Author</p>
                    <div class="entry-main-img">
                        <img src="@entry.ImageUrl" alt="entry-main-img" />
                    </div>
                    @foreach (var paragraph in entry.Content.Take(3))
                    {
                        <p>@paragraph</p>
                    }
                    <a class="go-to-entry" href="/Entries/Entry/@entry.Id">Czytaj</a>

                </div>
            </article>
        }
        <div class="pagination">
            @if (Model.ActivePage > 1)
            {
                <a href="@Model.Entries.First().CategoryId?page=@(Model.ActivePage - 1)">&laquo;</a>
            }
            else
            {
                <a href="#">&laquo;</a>
            }
            @foreach (var page in Model.Pages)
            {
                if (@page.Active)
                {
                    <a href="#" class="active-page">@page.Index</a>
                }
                else
                {
                    <a href="@Model.Entries.First().CategoryId?page=@page.Index">@page.Index</a>
                }
            }
            @if (Model.ActivePage < Model.AllPagesCount)
            {
                <a href="@Model.Entries.First().CategoryId?page=@(Model.ActivePage + 1)">&raquo;</a>
            }
            else
            {
                <a href="#">&raquo;</a>
            }
        </div>
    </main>

    <aside>
        <div class="aside-content">
            @if (Model.ContentSubcategories.Count() > 0)
            {
                <nav>
                    <h2>@Model.Entries.First().CategoryName</h2>
                    @foreach (var cat in Model.ContentSubcategories)
                    {
                        <div class="aside-continent">@Html.ActionLink(cat.Name, "Subcategory", "Entries", new { id = cat.Id }, null)</div>
                    }
                </nav>
                <br />
            }
            <div id="aside-sticky">
                <div>
                    <h2>O blogu</h2>
                    <p style="text-align: justify;">Suspendisse placerat felis nec auctor gravida. Sed at leo congue, scelerisque felis et, vestibulum mi. Suspendisse potenti. Integer rutrum a augue sit amet imperdiet. Vivamus a semper odio. Nullam augue felis, laoreet eu ligula vitae, rutrum interdum metus.</p>
                </div>
                <br />
                <div>
                    <h2>Może Cię zainteresować</h2>
                    <div id="random-entry">
                        <a href="/Entries/Entry/@Model.RandomEntry.Id">
                            <img src="@Model.RandomEntry.ImageUrl" alt="image" />
                            <div id="random-entry-cover"></div>
                            <div id="random-entry-caption">
                                <span>@Model.RandomEntry.Title</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </aside>

</div>


@Styles.Render("~/Content/Custom/entries")

@section Scripts
{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryscrollto")
    @Scripts.Render("~/bundles/spec-entries")
}